# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = true
        interval = 5
        output_format = i3bar
}

# order += "ipv6"
order += "wireless _first_"
order += "ethernet _first_"
order += "battery all"
order += "disk /"
order += "load"
order += "memory"
# order += "volume master"
order += "tztime local"

wireless _first_ {
        format_up = "W: (%quality at %essid) %ip"
        format_down = "W: down"
}

ethernet _first_ {
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

battery all {
        format = "%status %percentage %remaining"
        format_down = "No battery"
        status_chr = "⚡"
        status_bat = "🔋"
        status_unk = "?"
        status_full = "🔌"
        # path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 20
        threshold_type = time
        hide_seconds = true
        integer_battery_capacity = true
}

disk "/" {
        format = "💾 %avail"
        prefix_type = binary
        low_threshold = 10
        threshold_type = gbytes_avail
}

load {
     format = "⚒ %1min"
}

memory {
        format = "%available"
        threshold_degraded = "1G"
        format_degraded = "MEMORY < %available"
}

tztime local {
        format = "%b-%d %H:%M"
}

# wireless wlp3s0 {
#         format_up = "📶 %quality"
#         format_down = "📶 down"
# }
