general {
        colors = true
        interval = 5
        output_format = i3bar
}

order += "load"
order += "disk /"
order += "battery 0"
order += "wireless wlp3s0"
order += "volume master"
order += "tztime local"


battery 0 {
        format = "%status %percentage %remaining"
        format_down = "No battery"
        status_chr = "⚡"
        status_bat = "🔋"
        status_unk = "?"
        status_full = "🔌"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 20
        threshold_type = time
        hide_seconds = true
        integer_battery_capacity = true
}

disk "/" {
        format = "💾 %avail"
        prefix_type = binary
        low_threshold = 10
        threshold_type = gbytes_avail
}

load {
     format = "⚒ %1min"
}

tztime local {
        format = "%Y-%m-%d %H:%M"
}

wireless wlp3s0 {
        format_up = "📶 %quality"
        format_down = "📶 down"
}
